/* Root Variables */
:root {
    --Color1: #31363F;
    --Color2: #222831;
    --Color3: #EEEEEE;
    --Color4: #ffffff;
}

/* Html element */
html {
    margin: 0rem;
    padding: 0rem;
    color-scheme: dark;
}

/* Body element & Root ID */
body, #ROOT {
    background: var(--Color1);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0rem;
    padding: 0rem;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0rem solid transparent;
    cursor: default;
}

#HEADER {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150vh;
    height: 8.5vh;
    margin: 1rem;
}