/* Root Variables */
:root {
    --Very-Tiny: 0.15rem;
    --Tiny: 0.25rem;
    --Very-Small: 0.5rem;
    --Small: 1rem;
    --Medium: 1.5rem;
    --Very-Medium: 2rem;
    --Large: 2.5rem;
    --Very-Large: 3.5rem;
    --Big: 5rem;
    --Very-Big: 10rem;
}

/* Very-Tiny size class */
.Very-Tiny {
    width: var(--Very-Tiny);
    height: var(--Very-Tiny);
}

/* Tiny size class */
.Tiny {
    width: var(--Tiny);
    height: var(--Tiny);
}

/* Very-Small size class */
.Very-Small {
    width: var(--Very-Small);
    height: var(--Very-Small);
}

/* Small size class */
.Small {
    width: var(--Small);
    height: var(--Small);
}

/* Medium size class */
.Medium {
    width: var(--Medium);
    height: var(--Medium);
}

/* Very-Medium size class */
.Very-Medium {
    width: var(--Very-Medium);
    height: var(--Very-Medium);
}

/* Large size class */
.Large {
    width: var(--Large);
    height: var(--Large);
}

/* Very-Large size class */
.Very-Large {
    width: var(--Very-Large);
    height: var(--Very-Large);
}

/* Big size class */
.Big {
    width: var(--Big);
    height: var(--Big);
}

/* Very-Big size class */
.Very-Big {
    width: var(--Very-Big);
    height: var(--Very-Big);
}