@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Declaring Root Variables */
:root {
    --Color1: #222831;
    --Color2: #31363F;
    --Color3: #EEEEEE;
}

html {
    height: 100vh;
    margin: 0rem;
    padding: 0rem;
    color-scheme: dark;
}

header {
    background: var(--Color2);
    margin: 0rem;
    margin-bottom: 1rem;
    padding: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85vw;
    height: 5vh;
    gap: 2%;
}

body, #ROOT {
    margin: 0rem;
    padding: 0rem;
    display: grid;
    place-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    background-image: url("https://i.ibb.co/pxcyBRQ/wallhaven-werowr.png");
    color: #FFFFFF;
}
p, h1, h2, h3, h4, h5, h6, a {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--Color3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s ease;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
    color: #FFFFFF;
    text-shadow: 0.5rem 0 0.5rem #FFFFFF;
}

li, ul {
    list-style-type: none;
    margin: 0rem;
    padding: 0rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--Color3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.5s ease;
}

li:hover {
    color: #FFFFFF;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

a:hover {
    color: #FFFFFF;
}

#CONTAINER {
    background: var(--Color2);
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 85vw;
    height: 92vh;
    overflow: auto;
    scroll-behavior: auto;
}

#CONTAINER::-webkit-scrollbar {
    width: 1rem;
}

#CONTAINER::-webkit-scrollbar-track {
    background: #313844;
}

#CONTAINER::-webkit-scrollbar-thumb {
    background: #3c424d;
}

#CONTAINER::-webkit-scrollbar-button {
    background: #3c424d;
}

#CONTAINER::-webkit-scrollbar-corner {
    background:  #3c424d;
}

/* Changing Scrollbar */
body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background: #313844;
}

body::-webkit-scrollbar-thumb {
    background: #3c424d;
}

body::-webkit-scrollbar-button {
    background: #3c424d;
}

body::-webkit-scrollbar-corner {
    background:  #3c424d;
}